*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90vw;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

/* hero section */
.hero-section{
    /* background-color: red; */
    font-size: 1.5rem;
    padding: 5rem;
    text-align: center;
}

.hero-section p{
    color: #aaafb5;
    font-size: small;
    margin-top: 1rem;
}

